

body{
	background-image: url(Logo.jpg);
	background-position-x: right;
	background-repeat: no-repeat;
}
.main{
	position: absolute;
	top:9%;
	left:9%;
	width: 460px;
	border: 2px solid #000;
	padding: 40px;
	background-color:  rgba(0, 0, 0, 0.3);
	color: #fff;
	border-radius: 12px;
	padding-top: 80px;
}
#file::-webkit-file-upload-button{
	visibility: hidden;
}
#file , input[type=button] , #color{
	width: 90%;
	height: 70px;
	text-align: center;
	margin-bottom: 20px;
	font-size: 17px;
	border: 1px solid #000;
	letter-spacing: 2px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.0.0.9);
	color: #fff;
	transition: 1s all;
}
#file{
	width: 84%;
	height: 55px;
	padding-top: 23px;
	padding-left: 20px;
}
#file:hover , input[type=button]:hover , color:hover{
	cursor: pointer;
	background-color: #4287f5;
}